@using OrganizerBlazorApp.Domain.Entities
@using OrganizerBlazorApp.Domain.Enums
@using OrganizerBlazorApp.Domain.Extentions

@namespace OrganizerBlazorApp.Components.UI

<div class="col">
  <div class="card h-100 shadow-sm clickable-card mt-2 @TodoUnitCss.GetDeadlineColorClass(Unit)" @onclick="() => OnCardClick.InvokeAsync(Unit)">
    <div class="card-body d-flex align-items-center justify-content-between p-3">
      <div class="d-flex align-items-center">
        @* StopPropagation prevents the card click event from firing *@
        <input type="checkbox" class="form-check-input me-3 pe-auto" 
                checked="@(Unit.Status == ProcessStatus.Completed)"
                @onchange="() => OnStatusToggle.InvokeAsync(Unit)"
                @onclick:stopPropagation="true" />
        
        <div>
          <h6 class="mb-0 @(Unit.Status == ProcessStatus.Completed ? "text-decoration-line-through text-muted" : "")">
            @Unit.Title
          </h6>
          <small class="text-muted user-select-none">@Unit.Deadline.ToString("dd.MM HH:mm")</small>
        </div>
      </div>

      <div class="text-end d-flex align-items-center">
        @* Multimedia Icons Indicator *@
        @if (Unit.Attachments.Any())
        {
          <div class="me-2 text-primary">s
            <i class="bi bi-paperclip"></i>
            <small>@Unit.Attachments.Count</small>
          </div>
        }

        @* Subtask Progress *@
        @if (Unit.SubTasks.Any())
        {
          <span class="badge rounded-pill bg-secondary text-light user-select-none">
            @Unit.SubTasks.Count(s => s.Status == ProcessStatus.Completed)/@Unit.SubTasks.Count
          </span>
        }

        @* Delete Button *@
        <button class="btn btn-outline-danger ms-4" @onclick="() => OnDeleteClick.InvokeAsync(Unit)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<style>
    .clickable-card:hover { background-color: #f8f9fa !important; border-color: #e9ecef; }
</style>

@code {
  [Parameter] public TodoUnit Unit { get; set; } = null!;
  [Parameter] public EventCallback<TodoUnit> OnCardClick { get; set; }
  [Parameter] public EventCallback<TodoUnit> OnDeleteClick { get; set; }
  [Parameter] public EventCallback<TodoUnit> OnStatusToggle { get; set; }
}